<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>registerView</servlet-name>
        <jsp-file>/RegisterView.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>loginView</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>listThemesView</servlet-name>
        <jsp-file>/Themes.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MessagesListView</servlet-name>
        <jsp-file>/MessagesListView.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>MessagesListView</servlet-name>
        <url-pattern>/messagesListView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerView</servlet-name>
        <url-pattern>/registerView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginView</servlet-name>
        <url-pattern>/loginView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listThemesView</servlet-name>
        <url-pattern>/listThemesView</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>db_username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>root</param-value>
    </context-param>
    
</web-app>